<!--博客详情界面-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/editormd/css/editormd.min.css">
  <title>博客详情</title>
</head>
<body>
<div class="container">

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <p class="navbar-brand" href="#">blog</p>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-3 text-secondary">首页</a></li>
          <li><a href="/blog_by_user" class="nav-link px-3 text-white">查看所有博客</a></li>
          <li><a href="/blog" class="nav-link px-3 text-white">添加博客</a></li>
          <li><a href="/user_info" class="nav-link px-3 text-white">个人信息管理</a></li>
        </ul>

        <div class="text-end">
          <a class="btn btn-close-white me-2">你好，{{.username}}</a>
          <form method="post" action="/logout">
            <button type="submit" class="btn btn-outline-light">退出</button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-12">
      <h1>{{.Title}}</h1>
      {{.Content}}
    </div>
  </div>
</div>
</body>
</html>