<!--博客列表界面-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/editormd/css/editormd.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>

  <title>用户博客列表</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <p class="navbar-brand" href="#">blog</p>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/user_index" class="nav-link px-3 text-secondary">首页</a></li>
        <li><a href="/blog_index" class="nav-link px-3 text-white">查看所有博客</a></li>
        <li><a href="/blog" class="nav-link px-3 text-white">添加博客</a></li>
        <li><a href="/user_info" class="nav-link px-3 text-white">个人信息管理</a></li>
        <!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
      </ul>

      <!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
      <!--                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
      <!--            </form>-->

      <div class="text-end">
        <a class="btn btn-close-white me-2">你好</a>
        <form method="post" action="/logout">
          <button type="submit" class="btn btn-outline-light">退出</button>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="row mt-3">
  {{range $blog := . -}}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">分类</strong>
        <h3 class="mb-0">{{$blog.Title}}</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">{{$blog.Content}}</p>
        <a href="/blog_detail?pid={{$blog.ID}}" class="stretched-link">阅读更多</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">博客封面</text></svg>
      </div>
    </div>
  </div>
  {{- end}}
</div>

</body>
</html>