{{define "userheader"}}
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <p class="navbar-brand" href="#">blog</p>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-3 text-secondary">首页</a></li>
        <li><a href="/blog_index" class="nav-link px-3 text-white">查看所有博客</a></li>
        <li><a href="/blog" class="nav-link px-3 text-white">添加博客</a></li>
        <li><a href="#" class="nav-link px-3 text-white">个人信息管理</a></li>
      </ul>

      <div class="text-end">
        <p class="btn btn-outline-light me-2">你好，{{.username}}</p>
      </div>
    </div>
  </div>
</header>
{{end}}